@use 'sass:color';

$primary: #16697a;
$secondary: #489fb5;
$third: #82c0cc;
$fourth: #ede7e3;
$fifth: #ffa62b;
$fifth-darker: color.adjust($fifth, $lightness: -10%);
$fifth-lighter: color.adjust($fifth, $lightness: 10%);
